*{
    margin: 0;
    padding: 0; 
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box; 
}

.container{
    display: flex; 
    text-align: center; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    flex-direction: column;
    background: url(./images/bg-bottom.svg), url(./images/bg-top.svg); 
    background-position: left bottom, right top; 
    background-repeat: no-repeat;
    background-color: hsl(240, 78%, 98%);
}

.heading{
    margin: 20px 0; 
    color: hsl(233, 13%, 49%);
}

.payment-mode{
    margin-bottom: 30px; 
    display: flex;
    color: hsl(234, 14%, 74%);
    display: flex; 
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.card-container{
    display: flex; 
    background-color: #fff;
    padding: 0 40px; 
    border-radius: 10px;
    margin: 20px auto; 
}

.card{
    margin: 0 30px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scaleX(1.1);
}

.card > .card-title{
    font-size: 20px; 
    padding: 10px 0 20px; 
    color: hsl(233, 13%, 49%);
}

.price-monthly, 
.price-annually
{
    color: hsl(232, 13%, 33%);
    display: flex; 
    justify-content: center;
    align-items: center; 
    font-size: 30px; 
}

.price{
    font-size: 50px; 
    margin-left: 4px; 
}

.price-annually{
    display: none; 
}

.card ul{
    list-style: none; 
    margin: 20px 0; 
    font-size: 14px;
    color: hsl(233, 13%, 49%);
}

.card ul > li{
    padding: 10px 40px; 
    border-bottom: 1px solid hsl(234, 14%, 74%); 
}

.card ul > li:first-child{
    border-top: 1px solid hsl(234, 14%, 74%);
}

button{
    padding: 10px 40px; 
    border-radius: 5px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%)); 
    color: #fff; 
    border: none; 
    font-size: 12px; 
    cursor: pointer;
}

button:hover{
    background: transparent; 
    border: 1px solid hsl(237, 63%, 64%); 
    color: hsl(237, 63%, 64%);
}   

.featured{
    background: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    padding: 40px; 
    border-radius: 10px;
    transform: scale(1.1);
}

.featured > .card-title, 
.featured > ul, 
.featured > .pricing .price-annually,
.featured>.pricing .price-monthly {
    color: white; 
}

.featured > button{
    background: white; 
    color:hsl(237, 63%, 64%); 
}

.featured > button:hover {
    background: transparent; 
    color: white; 
    border: 1px solid white; 
}

@media all and (max-width: 375px){

    .card-container{
        flex-direction: column;
        align-items: center;
        width: 100%; 
        background: none; 
    }

    .card{
        margin-bottom: 20px; 
        border-radius: 10px;
        transform: none;
        padding: 20px; 
        width: 100%; 
    }

    .card:not(.featured){
        background-color: white; 
    }
}